.switch-node {
  .switch-cases {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 8px;

    .switch-case-label {
      font-size: 11px;
      color: #6b7280;
      margin-bottom: 8px;
      margin-right: -4px; // Align closer to handle

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
